<%- include("Layouts/header") %>

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Thống kê</h4>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Thống kê</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-hover">
                    <div class="box bg-cyan text-center">
                        <h1 class="font-light text-white"><i class="mdi mdi-account-multiple"></i><%= totalUser %></h1>
                        <h6 class="text-white">Người dùng</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-hover">
                    <div class="box bg-success text-center">
                        <h1 class="font-light text-white"><i class="mdi mdi-receipt"></i><%= totalCategory %></h1>
                        <h6 class="text-white">Loại sản phẩm</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-hover">
                    <div class="box bg-warning text-center">
                        <h1 class="font-light text-white"><i class="mdi mdi-coffee"></i><%= totalProduct %></h1>
                        <h6 class="text-white">Sản phẩm</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-hover">
                    <div class="box bg-danger text-center">
                        <h1 class="font-light text-white"><i class="mdi mdi-comment-processing"></i><%= totalComment %></h1>
                        <h6 class="text-white">Bình luận</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
